<div class='row'>
  <div class='buttons-nav'>
    <%= form_tag users_feed_path, method: 'get', id: 'select-month', remote: true do %>
      <div class='small-12 large-12 columns'>
        <%= select_tag :month, options_for_select((month_options), params[:month]), onchange: "$('#select-month').submit()", prompt: 'choose a meow-nth' %>
      </div>
    <% end %>
  </div>
</div>