  <%= render 'month_selector' %>
  <% @years.each do |year| %>
  <div class='row'>
    <div class='year-break'>
      <%= year %>
    </div>
    <div class='year-media'>
      <ul class='user-photos'>
        <% @sorted_photos.each do |photo| %>
          <% if get_year(photo.created_time) == year %>
            <li class='small-4 large-3 columns end'>
              <div class='user-photo th'>
              <%= link_to((image_tag photo.images.standard_resolution.url, size: '150x150'), photo.images.standard_resolution.url) %>
                <div class='likes'>
                  <i class='fi-heart large'></i>
                  <%= photo.likes[:count].blank? ? "0" : photo.likes[:count] %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='modal'></div>
  <div id='overlay'></div>
  <% end %>
