<div class='container center'>
  <h3>Organize your Instagram photos in monthly fashion.</h3>
  <h5 class='subheader'>It's like a time machine for your photo album.</h5>
  <%= link_to "Connect with Instagram", oauth_connect_path, html_options = { class: 'button' } %>
</div>