<div class='container center'>
  <ul class='small-block-grid-1'>
    <li class='month-tile year-tile'>2014</li>
  </ul>

  <ul class='small-block-grid-1 medium-block-grid-4'>
    <% Date::ABBR_MONTHNAMES.compact.each do |month| %>
    <li class='month-tile' ><%= month %></li>
    <% end %>
  </ul>
</div>