<div class='container center'>
  <ul class='small-block-grid-1'>
    <li class='month-tile year-tile'>
      <%= link_to "Year", "#", html: {data-dropdown="drop"} %>
      <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
        <li>2014</li>
      </ul>
    </li>
  </ul>

  <ul class='small-block-grid-1 medium-block-grid-4'>
    <% Date::ABBR_MONTHNAMES.compact.each do |month| %>
    <li class='month-tile' ><%= month %></li>
    <% end %>
  </ul>
</div>