<div class='container center'>
  <div class='row'>
    <div class='small-12 large-6 columns'>
      <%= link_to "Month", "#", class: "button large", data: {dropdown: 'dropdown-months'} %>
      <ul id="dropdown-months" class="f-dropdown" data-dropdown-content>
        <% @months.each do |month| %>
          <li><a href="#"><%= month %></a></li>
        <% end %>
      </ul>
    </div>
    <div class='small-12 large-6 columns'>
      <%= link_to "Year", "#", class: "button large", data: { dropdown: 'dropdown-years' } %>
      <ul id="dropdown-years" data-dropdown-content class="f-dropdown content">
        <li>(years)</li>
    </div>
  </div>
  <div class='row'>
    <%= render partial: 'photo', collection: @photos %>
  </div>
</div>
