<div class='container center'>
  <div class='row'>
    <div class='small-12'>
      <%= link_to "Month", "#", class: "button", data: {dropdown: 'dropdown-months'} %>
      <ul id="dropdown-months" class="f-dropdown" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>
      <%= link_to "Year", "#", class: "button", data: { dropdown: 'dropdown-years' } %>
      <ul id="dropdown-years" data-dropdown-content class="f-dropdown content">
        <li>(years)</li>
      </div>
    </div>
  </div>
</div>