.center {
  text-align: center;
}

.container {
  position: relative;
  background: #000;
  top: 640px;
}

#background-img {
  position: fixed;
  margin: auto;
}

.white {
  color: #fff;
  font-family: 'Lobster';
}

.large {
  width: 100%;
}

.profile-picture {
  height:41px;
  width:auto;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}

.buttons-nav {
  padding-top: 25px;
}

ul {
  list-style-type: none;
}

#overlay {
  display: none;
  position: fixed;
  background: #000;
  opacity: .8;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#modal {
  display: none;
  position: fixed;
  background: #fff;
  border-radius: 5px;
  top: 2%;
  left: 2%;
  width: 672px;
  height: 672px;
  z-index: 2000;
}

#modal-photo {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 3000;
}

#close-btn {
  display: none;
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 3000;
  i {
    color: #fff;
    font-size: 4em;
    &:hover {
      opacity: .8;
    }
  }
}