.center {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.container {
  position: relative;
}

.month-tile {
  background: #44accf;
  border: 10px solid #fff;
  font-size: 10vw;
  color: #fff;
  text-align: center;
}

.year-tile {
  background: #ee3e64;
}

.white {
  color: #fff;
}

.large {
  width: 100%;
}

.user-photo {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}