.center {
  text-align: center;
}

.container {
  position: relative;
}

.month-tile {
  background: #44accf;
  border: 10px solid #fff;
  font-size: 10vw;
  color: #fff;
  text-align: center;
}

.year-tile {
  background: #ee3e64;
}

.white {
  color: #fff;
  font-family: 'Lobster';
}

.large {
  width: 100%;
}

.profile-picture {
  height:40px; 
  width:auto; 
  padding-top:5px
}

.user-photo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-nav {
  padding-top: 25px;
}

.year-break {
  font-family: 'Fredericka the Great', cursive;
  font-size: 120px;
}