.likes {
  color: #ffffff;
  i {
    color: #ff0000;
  }
}

.user-photos {
  overflow: hidden;
}

.user-photo {
  margin-top: 10px;
  margin-bottom: 25px;
}

#user-feed {
  height: auto;
}

.caption {
  display:none;
}
.year-break {
  font-family: 'Raleway Dots', cursive;
  letter-spacing: .2em;
  font-size: 120px;
  color: #fff;
  padding-bottom: .25em;
}